@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 { margin: 0; }

a { 
  color: #333;
  text-decoration: none;
}


div.logo h1{
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  padding-top: .4em;
}

header, nav {
  display: -webkit-flex;
  display: flex;
}

.toggleNav {
  display: none;
}

header {
  background-color: #4fb722;
  padding: 20px;
  justify-content: space-between;
  flex: 1;
}

nav {
  justify-content: flex-end;
  align-self: center;
}

nav a {
  color:white;
  font-weight: 100;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

nav a:hover {
  background:rgba(0,0,0,0.3);
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  padding: 0 .312em;
  flex:3;
}

p {
  padding: .5em 1em;
  text-align: justify;
}

.banner-principal {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/data-2.png);
  background-size: cover;
  color: #000000;
  text-align: center;
  font-size: 2em;
  min-height: 15em;
}

.banner-graficos {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/banner-grafico.png);
  background-size: cover;
  color: #575757;
  text-align: center;
  font-size: 2em;
  min-height: 15em;
}

.banner-paleta {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/paleta.png);
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 2em;
  min-height: 15em;
}

.banner-lib {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/banner-lib.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #575757;
  text-align: center;
  font-size: 2em;
  min-height: 15em;
}


main {
	max-width: 1200px;
	margin: 0 auto;
  flex:8;
}

main h2 {
  text-align: center;
}

.charts {
  color: #000000;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
  min-height: 15rem;
}



.charts article {
  /*flex-grow: 1;*/
  flex-shrink: 0;
  flex-basis: 200px;
}

.charts article h3, .tipografia article h3{
  text-align: center;
}

.charts img, .tipografia img, .colores img {
  width: 100%;
}

.tipografia {
  color: #000000;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
  min-height: 15rem;
}

.tipografia article {
  /*flex-grow: 1;*/
  flex-shrink: 0;
  flex-basis: 30%;
}


div.graphic-container h2 {
  text-align: center;
}

div.graphic-container {
  max-width: 900px;
  margin: 0 auto;
}

div.graphic-container img.graphic-img {
  max-width: 100%;
}

.graphic-charts {
  color: #000000;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  min-height: 15rem;
}

.graphic-charts article {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  padding: .4em;
}


footer {
  flex: 1;
  background-color: #4fb722;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: .8rem;
  color: white;
}


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
  }

}

@media screen and (max-width: 480px) {
  header, nav {
    flex-direction: column;
  }

  header nav a {
  	padding: .6em;
  }

  .flex-nav li {
    flex: 1 1 100%;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }
  .flex-nav .open {
    display: flex;
  }

  .banner-lib {
    background-size: contain;
    font-size: 2em;
    min-height: 10em;
  }

}